PHONE_NUMBER_ID=
ACCESS_TOKEN=
WEBHOOK_VERIFY_TOKEN=
OPENAI_API_KEY=
NODE_ENV=development
PORT=3000
BUSINESS_HOURS_START=8
BUSINESS_HOURS_END=18
ESCALATION_NUMBER=59167978690
ESCALATION_NUMBER_TECH=59175013747
WEBSITE_URL=https://importadorajv.com
CRAWL_INTERVAL_HOURS=24
